[Desktop Entry]
Name=KchmViewer
Categories=Qt;KDE;Utility;
Encoding=UTF-8
Terminal=false
Type=Application
Exec=kchmviewer %U
Icon=kchmviewer
GenericName=A viewer for CHM files
Comment=A viewer of CHM (MS-Help) files
MimeType=application/chm
