[Desktop Entry]
Name=KchmViewer
Categories=Qt;KDE;Office;Viewer;
Terminal=false
Type=Application
Exec=kchmviewer %f
Icon=kchmviewer
GenericName=CHM file viewer
Comment=A viewer of CHM (MS-Help) files
MimeType=application/chm;application/x-chm;
