[Desktop Entry]
Categories=Qt;KDE;Utility;
Encoding=UTF-8
Type=Application
Exec=kchmviewer %U
Icon=kchmviewer.png
Comment=
Terminal=0
Name=KchmViewer
Comment=A viewer of CHM (MS-Help) files
MimeType=application/chm
